.serach_city_header{
    border-bottom: 1px solid #e8e8e8;
    height: 25px;
    line-height: 25px;
    padding: 0 15px;
    font-size: 1.2rem;
    color: #888;
}
.serach_city_list{
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    width: 33%;
    display: inline-block;

}
.all_city{
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 0;
}